@import url('https://fonts.googleapis.com/css?family=Roboto:700,700i');

h1, h3 {
    font-family: 'Roboto', sans-serif;
}


.centered {
    text-align: center;
    vertical-align: middle;
}

.mid-block {
    display: block;
    margin: auto;
    width: 60%;
    border: 4px solid green;
}